// Needs refactoring the sass dumping ground

.position-relative{
    // position: relative;
}


.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: 100%;
    background:rgb(102, 101, 101);
}

h4.search-result{

span.title{
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    
    :hover{
        color: lighten(#000000, 10%)
    }
    span.time{
        font-size:10px;
    }
}
}

.card-small{
    border: 1px solid silver;
    padding:12px;
  
    .title{
      text-align: left;
      font-weight:bold;
      font-size: 15px;
      cursor: pointer;

      &:hover{
          text-decoration: underline;
      }
    }
  
    .image-wrapper{
      margin-right: 8px;
    }
  
    .image{
      height:100%;
      width:100%;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 100%;
      }
    }
    .trailText{
      text-align: left;
      width: 100%;
      font-size:12px;
      line-height: 12px;
      margin:4px 0px 0px 0px;
      padding:0;
    }
  }

  .card-title{
    text-align: left;
    font-weight:bold;
    font-size: 15px;
  }

  .article-type{

    &--article{
      display:none;
    }

    &--liveblog{
      padding: 4px 8px;
      background: red;
      color:white;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 4;
    }
  }