nav {
  // padding: 14px 0px;
  background: rgb(12, 12, 15);;
  text-align: left;
  ul {
    display: flex;
  }

  li {
    align-items: center;
    background: rgb(12, 12, 15);;

    a {
      color: white;
      padding: 11px 16px;
      display: block;
      border-bottom: 2px solid rgb(12, 12, 15);
    }
    a.active{
      background:white;
      color:rgb(12, 12, 15);
      border-bottom: 2px solid deeppink;
    }
    a:hover {
      color: rgb(12, 12, 15);;
      background: white;
      border-bottom: 2px solid deeppink;
      transition: all 0.3s ease-in-out;
    }
  }
}

ul[aria-expanded="true"] .item {
  display: block;
}
ul[aria-expanded="false"] .item {
  display: block;
}

.burger {
  display: none;
}

@media screen and (max-width: 1127px) {
  nav {
    ul {
      justify-content: center;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }

      li.search {
        margin: 0;
        width: 100%;
        > div {
          width: 100%;
        }

        div input[type="search"] {
          width: 100%;
        }
        div button {
          width: 100%;
        }
      }
    }
  }

  ul[aria-expanded="true"] .item {
    display: none;
  }
  ul[aria-expanded="false"] .item {
    display: block;
  }

  .burger {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
  }
}

.margin-left-auto {
  margin-left: auto;
}
