nav {
  // padding: 14px 0px;
  background: red;
  text-align: left;
  ul {
    display: flex;
  }

  li {
    align-items: center;
    background: red;

    a {
      color: white;
      padding: 11px 16px;
      display: block;
      border-bottom: 2px solid red;
    }
    a:hover {
      color: red;
      background: white;
      border-bottom: 2px solid red;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 1127px) {
  nav {
    ul {
      justify-content: center;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }

      li.search{
        margin:0;
        width:100%;
        > div {
          width: 100%;
        }

        div input[type=text]{
          width:100%;
        }
        div button{
          width:100%;
        }
      }
    }
  }
 
}

.margin-left-auto{
  margin-left:auto
}

