.header{
    background: #000;
}

a.logo{
    display: flex;
    justify-content: center;
    :hover{
        color:white;
    }
    img{
        height:80px;
    }
}
h1{
    text-align: left;
    background:rgb(12, 12, 15);
    padding:44px;
    display: block;
    color:white;
    font-weight:bold;
}


@media screen and (max-width: 1295px) {

    a.logo{
        img{
            height:50px;
        }
    }

}