@import "./css/style.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

$background__main: #2d2d2d;
$font-color_base: #ffffff;
$base-font__size: 2rem;

body {
  background: $background__main;
  color: $font-color_base;
}

.App {
  text-align: center;
  background: #f5f5f5;
  color: #333;
}

.debug {
  border: 1px solid red;
}

.section-title {
  background: #000;
  color: #fff;
  margin: 8px;
}

.twitter_trends {
  > div {
    display: inline-block;
    padding: 8px;
    background: #000;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    word-break:break-word;

    a {
      color: #fff;

      &:hover {
        color: darken($color: #fff, $amount: 15%);
      }
    }
    p {
      font-size: 11px;
      margin: 0;
      padding: 0;
      color: #64d4ef;
    }
  }
}

.breakingNewsTicker {
  osition: relative;
  background: #00ffd3;
  color: #0c3b52;
  width: 100%;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px 2px #015D5B, inset 0px 2px 16px white;
  font-size: 12px;
  text-shadow: 2px 1px 7px #0ca3ad;
  border: 6px solid #191b1d;
  .ticker-header {
    z-index: 1;
    position: relative;
    z-index: 1;
    background: #09111b;
    padding: 14px;
    box-shadow: 7px 0px 32px #ffffff;
    color: #01feff;
    font-size: 12px;
  }
 > ul {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 300s linear infinite;
    li {
      display: inline-block;
      margin: 0px 10px;
      ul{
        li{
          display: inline-block;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
